@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sideNav
{
    <ul class="nav nav-pills nav-stacked" style="position: fixed">
        <li role="presentation">
            @Html.ActionLink("About Me","Index","About")
        </li>
        <li role="presentation">
            @Html.ActionLink("Resume", "Resume", "About")
        </li>
        <li role="presentation">
            @Html.ActionLink("Job Preferences", "Preferences","About")
        </li>
        <li role="presentation">
            <a href="https://www.linkedin.com/in/bronzeharoldbrown/" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        </li>
        <li role="presentation">
            <a href="https://www.facebook.com/darkdhamon" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
        </li>
    </ul>
}

@RenderBody()

