@{
    ViewBag.Title = "About";
    Layout = "_AboutLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h2>
            About me
        </h2>
        <h3>
            Personal Life
        </h3>
        <h4>
            Growing up
        </h4>
        <p>
            I grew a few miles outside York, South Carolina. York is a small town that is about
            an hour out from Charlotte, North Carolina. Basically, it is in an area were you will
            find farm land, woods, and not really much to do unless you like the outdoors.
        </p>
        <p>
            My parents loved us but is was not easy raising us. Between limited means,
            three children, and alot of family drama things in general were not easy.
            Looking back on my childhood I do not know how my parents did it. In addition,
            I am proud of how far I have come.
        </p>
        <p>
            I am not going to go into all the dirty details of growing up but I do want to
            highlight some of the details that lead to who I am today. I got into computers
            because of my dad. He and I had two main common interest, computers and Science
            fiction. We would watch Star Trek and one of the things about Star Trek that amazed
            me about it was the computers. I loved how you could actually speak to the computer
            and interact with it. I wanted to build this, Unfortunately Siri, Googlee, and Cortana
            all beat me to this. Anyway, the second thing I in common with my dad was computers.
        </p>
        <p>
            The first computer we had was an old IBM computer that ran DOS and had a few
            educational games that came with it. It was loaned to us by the school district. This
            was back in 1995 or 1996.
        </p>
        <p>
            The second computer we had was a windows 95 computer, my dad had bought it. Anyway as
            I was not allowed to touch the computer at that time, I watched my dad do things on
            the computer, mostly video games. That computer broke down adventually, and while my
            parents could not always afford a new computer, my dad was always on the lookout for
            computers that were being thrown away. We would salvage the computers and build
            computers to use. During my teenage years my father started allowing my to use the
            computers mainly for school work but sometimes other things. I would carry around a
            floppy drive (the hard floppy not the floppy floppy) with me that I would used to
            transfer files from home to school or the public library. Oh when we had internet at
            the house it was dial-up, but mostly we went to the library.
        </p>
        <p>
            Anyway, sorry about the tangent, so things were not easy growing up. And I was a kid
            that wanted things. So in order to get them I had to be inventive. Whether it was
            figuring out how to make switching between devices easier with the TV. Or building a
            fort in the woods. I figured out how to do things.
        </p>
        <p>
            I got used to doing things myself growing up. I could not rely on others, it made it
            hard to ask for help. Sometimes, I still find it difficult to ask for help. Something
            I am still working on.
        </p>
        <h4>
            College
        </h4>
        <p>
            I went to Neumont University and graduated with a Bachelors of Science in Computer
            Science. It was quite the trip. Neumont University required alot of determination and
            that was before I even go there. When I got accepted to Neumont University, my parents
            would not cosign for a loan for me to go to a college in Salt Lake City, Utah when
            I qualified to go to any college in South Carolina for free. But I knew that I could
            not stay in South Carolina. At the time, with the family drama in my home I was doing
            everything I could to for back of a better term run away. I only came home to sleep.
            I was will aware at the time that my decision to go to Neumont was because I wanted to
            get far away from my family. But an other reason for going to Neumont was in Salt Lake
            there was not safety net. No one to bail me out if I failed. I knew that I needed this,
            This forced me to keep going when I wanted to quit. And I wanted to quit a few times,
            But I knew that quiting was not an option. I struggled through Neumont, not because of
            school, that was easy, I struggled with my personal life, which affected my school work.
            It took me abit longer to finish Neumont University, but I did not quit.
        </p>
        <h3>
            Professional Life
        </h3>
        <p>
            Since 2014, I have worked on contracts with a few different companies, this has given me
            a variety of experiance and has allowed me to learn a great deal about the kind of
            environment I want to work in. I tend to like working in a team-based enviroment.
        </p>
    </div>
</div>
