@model dynamic

@{
    ViewBag.Title = "Job Preferences";
    Layout = "_AboutLayout.cshtml";
}

<h2>Job Preferences</h2>
<div class="row">
    <div class="col-sm-2">
        <label>Location:</label>
    </div>
    <div class="col-sm-10">
        <p>
            I am primarily looking for positions within a 6 hour drive of York, SC or remote oppurtunities.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>Salary Preferences:</label>
    </div>
    <div class="col-sm-10">
        <p>
            My current salary is $65,000 a year with 
            <abbr 
                title="Health, Vision, and Dental. 401K. Gym Membership. Continued education tution for work related skills.">
                benefits
            </abbr>
        </p>
        <p>
            For a new position, I am looking for $70,000+ a year with 
            <abbr title="Heath, Vision, Dental, 401K. ">benefits</abbr> or $35+ an hour. 
            My salary requirements will be scaled to the cost of living based on the
            location of the position.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>Industry Preferences:</label>
    </div>
    <div class="col-sm-10">
        <p>
            I have an great interest in the educational industry. I am also interested 
            in the Health and engineering fields. Open to most other industries.
        </p>
        <p>
            I do not want to work for Multi-level marketing companies.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>
            Cultural Preferences:
        </label>
    </div>
    <div class="col-sm-10">
        <p>
            I am looking for a company that
            cares about its employees. I want to work in an enviroment where your look
            forward to working with your coworkers.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label>
            Work Preferences:
        </label>
    </div>
    <div class="col-sm-10">
        <p>
            I like working in a team based environment. I prefer working on 
            new development but can handle doing maintenance as well. A good mix
            of both would be nice. I don't like hearing the words "Good Idea, but it is
            not in the budget." 
        </p>
    </div>
</div>
