@model dynamic

@{
    ViewBag.Title = "Resume";
    Layout = "_AboutLayout.cshtml";
}

<h2>My Resume</h2>

<iframe 
    src="https://onedrive.live.com/embed?cid=D71DD153E7752303&resid=D71DD153E7752303%21232988&authkey=AEVtH-aqiS1Y5-A&em=2&wdStartOn=1" 
    style="width: 100%; height: 500px;" 
    frameborder="0">
    
</iframe>
This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by 
<a target="_blank" href="https://office.com/webapps">Office Online</a>.