@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Portfolio</h1>
    <p class="lead">
        Hello, I am Bronze Harold Brown. Welcome to my project portfolio. To start off, I am a 
        @(DateTime.Now.Year-1990 - ((DateTime.Now.Month < 2 || DateTime.Now.Month ==2 && DateTime.Now.Day<22)?1:0)) 
        year old web developer. My primary focus has been ASP.NET MVC but I have experience in other 
        technologies like Ruby on Rails, NodeJS, WPF, and Java.
    </p>
    <p class="small">
        Below is a list of my featured personal projects, to see a list of all my personal projects click on the 
        projects tab. If you would like to learn more about me click on the the about tab.
    </p>
</div>
<div class="row">
    @Html.Action("FeaturedProjects", "Project")
</div>