body {
    height: 100%;
    background-color: #eee;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a i {
    font-size: 12px;
}

.form-control {
    max-width: 100%;
}

.card {
    border: 2px solid gray;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.featured {
    color: gold;
}
.row.btn-group {
    display: flex;
}

.btn.fill-width {
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.projectDescription {
    height: 250px;
    overflow-y: auto;
    padding-left: 10px;
}

.jumbotron {
    margin-top: -10px;
}

.main {
    overflow-y: auto;
}

.side-nav {
    background-color: #808080;
    padding: 3px;
    -ms-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}

.side-nav a {
    color: #eeeeee;
}

.side-nav .nav-link.active {
    background-color: #808080;
    border: white 1px solid;
}

footer {
    width: 100%;
    border-top: solid 1px #808080;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: center;
}

.pagingBtnGroup {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-control.minimize-width {
    min-width: 20px;
    width: auto;
    margin: 0;
}

.form-control.btn-outline-dark:hover,
.form-control.btn-outline-dark,
.form-control.btn-outline-dark:active
{
    background-color: white;
    color: black;
}

.container {
    margin-bottom: 75px;
}